.header,.footer,.hero{
    font-family: Roboto;
    background-color: #1F2937;
    color:white;
    

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
h1,h3{
    margin:0;

}
